.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .cart-item-image {
    width: 60px;  
    height: 60px;
    object-fit: contain; 
    margin-right: 1rem;
  }
  
  .item-details {
    flex: 1;
  }
  
  .cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
  }
  
  .cart {
    width: 400px;
    height: 100%;
    background-color: #fffaf0; 
    border-left: 2px solid #b8860b;
    padding: 1rem;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .cart-total h2 {
    color: #000000;
  }

.item-controls button {
  background-color:#b8860b;
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px; 
  cursor: pointer; 
  margin: 0px 5px; 
}

.checkout {
  --bg: #000;
  --hover-bg: #b8860b;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  font-size: medium;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.9em 10em;
  background: var(--bg);
  transition: 0.2s;
}

.checkout:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.checkout:active {
  transform: translate(0);
  box-shadow: none;
}