
.product-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
  }
  
  .product-card img {
    max-width: 140px;
    height: auto;
  }
  
  .product-card h3 {
    font-size: 1.2rem;
    color: #333;
  }

.BothButtons {
  display:flex;
  align-items: end;
}